body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

#cajaTexto {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
}

#btnCambiarColor {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.ventanaEmergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.ventanaEmergente button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
